body {
    background-color: #b73ca133;
    /* margin: 0; */
    font-family: sans-serif;

}

.container {
    /* background-color: lightcoral; */
    width: 1400px;
    margin: 0 auto;
}

.column {
    float: left;
}

.left-column {
    background-color: #fccde8;
    width: 33%;
    box-shadow: rgba(240, 113, 240, 0.874) 0px 5px 15px;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 16px;
}

.basic-info {
    padding: 0 16px;
}

.basic-info h3, 
.basic-info h4 {
    font-weight: normal;
    margin-bottom: 4px;
}

.basic-info h2 i, 
.basic-info h3 i,
.section h2 i {
    margin-right: 16px;
    color: rgba(240, 2, 196, 0.6);
}

.basic-info hr {
    border: 1px solid rgba(219, 120, 214, 0.331);
}

.photo {
    width: 100%;
}

.name {
    font-size: 40px;
}

.progress {
    background-color: #daa6c4a0;
    border-radius: 8px;
}

.progress-fill {
    background-color: rgba(207, 62, 178, 0.749);
    border-radius: 8px;
    text-align: center;
    color: #f1f1f1;
}

.custom-height {
    height: 24px;
}

.right-column {
    width: 64%;
    margin-left: 16px;
}

.section {
    box-shadow: rgba(229, 118, 207, 0.9) 0px 5px 15px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #f7cdede0;
    padding: 16px;
}

.date {
    color: rgb(243, 25, 210);
}

.footer {
    background-color: rgb(238, 22, 202);
    color: white;
    padding: 50px 0;
    text-align: center;
    clear: both;
}
